/* Works for Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #1a1a1a; /* track background (dark) */
}

::-webkit-scrollbar-thumb {
  background: #444; /* thumb color */
  border-radius: 6px; /* rounded corners */
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* thumb color on hover */
}
