.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 10px;
  background-color: #2e2d2d;
  height: 29em;
  border-radius: 30px;
  width: 68%;
}
.heading {
  text-align: center;
}
h1 {
  font-size: 30px;
}

.main-input-field {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding: 14px;
}

.main-input-field input {
  width: 30em;
  border-radius: 6px;
  outline: none;
  border: none;
  padding: 0 10px;
  height: 2.6em;
  font-size: 14px;
  background-color: #6362604a;
  color: whitesmoke;
}

.main-input-field button {
  width: 6em;
  height: 2.2em;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #1565c0;
  transition: all 0.2s ease-in;
  color: white;
}
.main-input-field button:hover {
  background: #1b4f72;
}

.sp-heading {
  text-align: center;
}

.todos ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  overflow: auto;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 10px;
  height: 18em;
}

.todos ul li {
  list-style: none;
}
.todo-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  height: 4em;
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(117, 116, 116);
  background-color: #242424a5;
}
.todo-name {
  width: 50%;
}
.todo-controls button {
  width: 5em;
  height: 2.2em;
  border-radius: 8px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #b22222;
  transition: all 0.2s ease-in;
  color: white;
}
.todo-controls button:hover {
  background-color: #7b1e1e;
}

.no-todos {
  text-align: center;
  padding: 5em 0;
}

.no-todos h2 {
  font-weight: 100;
}
