.navbar {
  background-color: #2e2d2d;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}
.first-section {
  font-size: x-large;
  font-weight: 700;
}
.first-section p {
  width: 4em;
  cursor: pointer;
}
.second-section ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
.second-section ul li {
  cursor: pointer;
}

.second-section ul li:first-child {
  color: #c6c4c4;
}

.second-section ul li:hover {
  color: #c6c4c4;
}
